#home:hover {
    color: red;
    font-size: 5em;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    
}

#mainLogo {
    height: 252px;
    width: 350px;
}